PORT=3000
HOST=localhost
SESSION_SECRET=yourSuperSecretSessionKey
ACCESS_TOKEN_SECRET=yourAccessTokenSecretForJWT
DATABASE_URL=postgres://username:password@host:port/database
NODE_ENV=(development / production)
NODE_VERSION=18 (or grater)
