<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/header', {title: title}) %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  
  <main>
    <%- body %>
  </main>
  
<%- include('../partials/footer') %>
</body>
</html>
